


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}


/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}



/* Tailwind Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;